@charset "UTF-8";
/* CSS Document */
body {
	margin: 0;
}
#title{
	text-align: left;
	color: white;
	display: inline-block;
	text-decoration: none;
}
#navbar{
  	background-color: #150300;
	margin: 15px;
	width:100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 10px;
	list-style-type: none;
	display: inline-block;
	border-bottom: 3px solid transparent;
}

#navbar a{
	float: right;
	color: white;
	text-decoration: none;
}

#navbar a:hover {
  border-bottom: 2px solid white;
}

.active{
  border-bottom: 1px solid white;
}

.column {
  width: 50%;
	display:inline-block;
}



#footer{
  	background-color: #150300;
	margin: 15px;
	width:100%;
	overflow: hidden;
	padding: 10px;
	list-style-type: none;
	display: inline-block;
	border-bottom: 3px solid transparent;
	color: white;
	text-decoration: none;
}
